<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TYctxcsResultsMapper">
    
    <resultMap type="TYctxcsResults" id="TYctxcsResultsResult">
        <result property="id"    column="id"    />
        <result property="planId"    column="plan_id"    />
        <result property="year"    column="year"    />
        <result property="expense"    column="expense"    />
        <result property="income"    column="income"    />
        <result property="surplus"    column="surplus"    />
        <result property="lastYearSumSurplus"    column="last_year_sum_surplus"    />
    </resultMap>

    <sql id="selectTYctxcsResultsVo">
        select id, plan_id, year, expense, income, surplus, last_year_sum_surplus from t_yctxcs_results
    </sql>

    <select id="selectTYctxcsResultsList" parameterType="TYctxcsResults" resultMap="TYctxcsResultsResult">
        <include refid="selectTYctxcsResultsVo"/>
        <where>  
            <if test="planId != null "> and plan_id = #{planId}</if>
            <if test="year != null "> and year = #{year}</if>
            <if test="expense != null "> and expense = #{expense}</if>
            <if test="income != null "> and income = #{income}</if>
            <if test="surplus != null "> and surplus = #{surplus}</if>
            <if test="lastYearSumSurplus != null "> and last_year_sum_surplus = #{lastYearSumSurplus}</if>
        </where>
    </select>
    
    <select id="selectTYctxcsResultsById" parameterType="Long" resultMap="TYctxcsResultsResult">
        <include refid="selectTYctxcsResultsVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTYctxcsResults" parameterType="TYctxcsResults" useGeneratedKeys="true" keyProperty="id">
        insert into t_yctxcs_results
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="planId != null">plan_id,</if>
            <if test="year != null">year,</if>
            <if test="expense != null">expense,</if>
            <if test="income != null">income,</if>
            <if test="surplus != null">surplus,</if>
            <if test="lastYearSumSurplus != null">last_year_sum_surplus,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="planId != null">#{planId},</if>
            <if test="year != null">#{year},</if>
            <if test="expense != null">#{expense},</if>
            <if test="income != null">#{income},</if>
            <if test="surplus != null">#{surplus},</if>
            <if test="lastYearSumSurplus != null">#{lastYearSumSurplus},</if>
         </trim>
    </insert>

    <update id="updateTYctxcsResults" parameterType="TYctxcsResults">
        update t_yctxcs_results
        <trim prefix="SET" suffixOverrides=",">
            <if test="planId != null">plan_id = #{planId},</if>
            <if test="year != null">year = #{year},</if>
            <if test="expense != null">expense = #{expense},</if>
            <if test="income != null">income = #{income},</if>
            <if test="surplus != null">surplus = #{surplus},</if>
            <if test="lastYearSumSurplus != null">last_year_sum_surplus = #{lastYearSumSurplus},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTYctxcsResultsById" parameterType="Long">
        delete from t_yctxcs_results where id = #{id}
    </delete>

    <delete id="deleteTYctxcsResultsByIds" parameterType="String">
        delete from t_yctxcs_results where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>